extends includes/admin-layout
block content
  .list-group
    .container.py-4
      each article in articles 
        -const {id, title,content, author, category, createdAt} = article;
          +articles-list(id, title,content,author, category, createdAt)