extends includes/admin-layout
block content
  .container.py-4
    .list-group
      each article in articles 
        -const {id, title,content, author, category, createdAt} = article;
        +articles-list(id, title,content,author, category, createdAt)