extends includes/layout 
include includes/mixins

block content 
  .hero-category(style=`background:url(/images/hero-${category}.jpg)`)
  .container.my-4
    .row
      each article in articles
        -const {id, title,content, author} = article;
        +article(id,title,content,author)