extends includes/layout 
include includes/mixins

block content
  .hero
    .container.h-100.d-flex.flex-column.justify-content-center.align-items-start
      h1.text-light Entertainment, Technology, Health and Family
      p.text-light All your favorite articles in one place. Create an account if you want to become an author
  .container.my-5
    +category-row("Most recent articles:","all",false,articles)
    .line
    +category-row("Recent Entertainment articles:","entertainment",false,articles)
    .line
    +category-row("Recent Technology articles:","technology",false,articles)
    .line
    +category-row("Recent Health articles:","health",false,articles)
    .line
    +category-row("Recent Family articles:","family",true,articles)
     