extends includes/layout 
include includes/mixins
block content
  .container(style="width:500px").mt-5
    if errors
      +errorMessage(errors)
    h2.text-center.mb-4 Log in:
    form(action=`/user/login`, method="post") 
      .row
        .col-12
          input.form-control(type="text" name="username" placeholder="User Name") 
        .col-12
          input.form-control(type="password" name="password" placeholder="Password" ) 
        .col-12 
          button.btn.btn-primary.w-100(type="submit") Log in
        .col-12 
          p.text-center.mt-2 Dont have an account? 
            a(href="/user/register") 
              strong.text-secondary Register now