@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap");
html,
body {
  min-height: 100%;
}
body {
  background: linear-gradient(to right, #f4f4f4, #ccc);
  color: #333;
}
nav {
  font-size: 1.2rem;
}
a {
  text-decoration: none !important;
}
textarea {
  resize: none;
  width: 100%;
}
// Logo
.navbar-brand {
  font-family: "Crete Round", serif;
  font-size: 1.8rem;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero.jpg");
  background-position: center !important;
  background-size: cover !important;
  height: 100vh;
}
.hero-article,
.hero-category {
  @extend .hero;
  height: 70vh;
}
.line {
  width: 100%;
  height: 2px;
  background: rgba(92, 91, 91, 0.4);
  margin-bottom: 3rem;
}

.card {
  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
  }
}
.alert-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
